body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  font-family: sans-serif;
}

#background {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#grid-wrapper {
  width: 80svw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 0;
  justify-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.heading {
  justify-content: center;
  text-decoration: underline;
}
div.grid-item.day {
  justify-content: flex-end;
  border-right: none;
  padding-right: 10%;
}
div.grid-item.time{
  justify-content: center;
  border-right: 2px dotted #888;
  border-left: 2px dotted #888;
}
div.grid-item.game {
  justify-content: flex-start;
  border-left: none;
  padding-left: 10%;
}

h1.grid-item {
  grid-column: 1 / 4;
  font-size: 6vw;
  margin: 4vh 0;
  margin-bottom: 0;
}
aside.grid-item {
  grid-column: 1 / 4;
  font-size: 3vw;
  justify-content: center;
}

h2.grid-item {
  font-size: 3.5vw;
  margin: 0;
  justify-content: center;
}

div.grid-item {
  font-size: 3vw;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 2px solid #888;
}
