body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  font-family: sans-serif;
}

#background {
  height: 100vh;
  width: 100vw;
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#grid-wrapper {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh 4vh;
  justify-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.heading {
  justify-content: center;
  text-decoration: underline;
}
.day {
  justify-content: flex-end;
}
.time{
  justify-content: center;
}
.game {
  justify-content: flex-start;
}

h1.grid-item {
  grid-column: 1 / 4;
  font-size: 6vw;
  margin: 4vh 0;
}

h2.grid-item {
  font-size: 3.5vw;
  margin:  0;
  justify-content: center;
}

div.grid-item {
  font-size: 3vw;
  padding: 2vh;
  border: 2px solid #888;
}
